*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono";
    -webkit-tap-highlight-color: transparent;
}

:root {
    --primary: #EAF5FF;
    --secondary: #00417D;
    --white: #FFFFFF;
}

body {

    font-family: inherit;
    font-weight: 700;

    -webkit-tap-highlight-color: transparent;
}

.calc-btn {
    font-size: 125%;
}

.father {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
}

.master {
    display: flex;
    align-items: center;
    justify-content: center;
}

.part_one {
    font-family: inherit;

    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: repeat(6, 4rem);
    gap: 0.25rem;
    align-content: center;
    justify-content: center;
}

.part_one>button {
    cursor: pointer;
    border-radius: 0.5rem;
    font-family: inherit;
    font-weight: inherit;
}

.gap_between {
    width: 1rem;
}

.part_two {
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: repeat(6, 4rem);
    gap: 0.25rem;
    align-content: center;
    justify-content: center;
}

.part_two button {
    align-items: center;
    cursor: pointer;

    border-radius: 0.5rem;

    font-family: inherit;
    font-weight: inherit;
}

.settings-icon {
    display: flex;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
}

.settings-icon>* {
    height: 2rem;
    fill: var(--secondary);
    cursor: pointer;
}

.settings-icon>*:hover {
    opacity: 25%;
}


.output {
    font-size: 150%;
    width: 43rem;

    min-height: 100px;

    margin-bottom: 1rem;
    grid-column: 1/-1;
    grid-row: 2/3;
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 0.5rem;
    padding: 1rem;

    border: solid 0.2rem var(--secondary);

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;

    word-wrap: break-word;
    word-break: break-all;
}


#query {
    color: var(--primary);
    opacity: 65%;
}

/* .output .previous-operand {
    align-self: flex-start;
} */

/* button-styles */

.solid-btn {
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.border-btn {
    background-color: var(--white);
    color: var(--secondary);
    border-width: 0.15rem;
    border-style: solid;
    border-color: var(--primary);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.special-btn {
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.equal-btn {
    grid-area: 6/3/7/5;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}





@media (max-width: 700px) {

    body {
        font-family: "JetBrains Mono";
    }

    .border-btn:active {
        background-color: var(--secondary);
        color: var(--primary);
        border-color: var(--secondary);
    }

    .solid-btn:active {
        background-color: var(--secondary);
        color: var(--primary);
        border-color: var(--secondary);
    }

    .special-btn:active {
        opacity: 25%;
    }

    .output .previous-operand {
        align-self: flex-start;
    }


    .master {
        font-family: inherit;
        flex-direction: column;
    }

    .calc-btn {
        font-size: 90%;
    }


    .output {
        font-size: 100%;
        max-width: 17rem;
        padding: 0.5rem;
    }

    .part_one {
        grid-template-columns: repeat(4, 4rem);
        grid-template-rows: repeat(6, 2.25rem);

        font-weight: 700;
    }

    .gap_between {
        height: 0.5rem;
    }

    .part_two {
        display: grid;
        grid-template-columns: repeat(4, 4rem);
        grid-template-rows: repeat(6, 2.25rem);

        font-weight: 700;
    }

}



.border-btn:hover {
    background-color: var(--secondary);
    color: var(--primary);
    border-color: var(--secondary);
    transition: 0.25s;
}

.solid-btn:hover {
    background-color: var(--secondary);
    color: var(--primary);
    border-color: var(--secondary);
    transition: 0.25s;
}

.special-btn:hover {
    opacity: 25%;
    transition: 0.25s;
}

button:focus {
    animation: clickEffect 0.25s ease-in-out;
}


@keyframes clickEffect {
    50% {
        transform: scale(0.8)
    }

    100% {
        transform: scale(1)
    }
}
